body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.EuropeAttr {
  background-color: aquamarine;
  width: 120px;
}

.akhi {
  text-align: center;
  padding: 10px;
  background-color: rgb(238, 255, 127);
}
